<div class="col-md-12 ml-auto col-xl-12 mr-auto" style="background-color: transparent;">
  <div class="card" style="background-color: transparent;" data-tabs-color="orange">
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
        <ngb-tabset [justify]="'center'" class="text-center">

          <ngb-tab>
            <ng-template ngbTabTitle>
              <div (click)="forms_Reset()">
                <i class="now-ui-icons ui-2_settings-90"></i> Update
              </div>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="container" style="text-align:left">
                <form class="form" [formGroup]="updateForm" (ngSubmit)="onSubmit_Update()">
                  <br>
                  <div class="row">
                    <div class="col-sm">
                      <label>Full Name</label>
                      <input type="text" class="form-control" formControlName="name"
                        [ngClass]="{ 'is-invalid': submitted_u && u.name.errors }">
                      <div *ngIf="submitted_u && u.name.errors" class="invalid-feedback">
                        <div *ngIf="u.name.errors.required">Full Name is required</div>
                      </div>
                    </div>
                    <div class="col-sm">
                      <label>Date of Birth</label>
                      <input type="date" class="form-control" formControlName="date_birth"
                        [ngClass]="{ 'is-invalid': submitted_u && u.date_birth.errors }" max="9999-12-12">
                      <div *ngIf="submitted_u && u.date_birth.errors" class="invalid-feedback">
                        <div *ngIf="u.date_birth.errors.required">Date of Birth is required</div>
                      </div>
                    </div>


                    <div class="col-sm">
                      <label>Phone</label>
                      <input type="text" class="form-control" formControlName="phone"
                        [ngClass]="{ 'is-invalid': submitted_u && u.phone.errors }">
                      <div *ngIf="submitted_u && u.phone.errors" class="invalid-feedback">
                        <div *ngIf="u.phone.errors.required">Phone is required</div>
                      </div>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-sm">
                      <label>Nationality</label>
                      <select class="form-control form-control-sm" formControlName="nationality"
                        [ngClass]="{ 'is-invalid': submitted_u && u.nationality.errors }" #nationality
                        (change)="get_residence(nationality.value)">
                        <option></option>
                        <option *ngFor="let item of nationalities">{{item}}</option>
                      </select>
                      <div *ngIf="submitted_u && u.nationality.errors" class="invalid-feedback">
                        <div *ngIf="u.nationality.errors.required">Nationality is required</div>
                      </div>
                    </div>
                    <!-- Residence -->
                    <div class="col-sm">
                      <label>Residence</label>
                      <select class="form-control form-control-sm" formControlName="residence" #residence
                        [ngClass]="{ 'is-invalid': submitted_u && u.residence.errors }">
                        <option></option>
                        <option *ngFor="let item of residences">{{item}}</option>
                      </select>
                      <div *ngIf="submitted_u && u.residence.errors" class="invalid-feedback">
                        <div *ngIf="u.residence.errors.required">Residence is required</div>
                      </div>
                    </div>
                    <div class="col-sm">
                      <label>Email</label>
                      <input type="email" class="form-control" formControlName="email"
                        [ngClass]="{ 'is-invalid': submitted_u && u.email.errors }">
                      <div *ngIf="submitted_u && u.email.errors" class="invalid-feedback">
                        <div *ngIf="u.email.errors.required">Email is required</div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <button class="btn btn-warning btn-block btn-round">
                    Update
                  </button>
                  <br>
                </form>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div (click)="forms_Reset()">
                <i class="now-ui-icons ui-1_simple-delete"></i> Delete
              </div>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="container">
                <form class="form" (ngSubmit)="onSubmit_Delete()">
                  <br>
                  <div class="row">
                    <div class="col-sm">
                      <p>You will lose all data and content of the account in question.</p>
                      <p>You will lose access to TECPlane and the content you have purchased with that account.</p>
                    </div>
                  </div>
                  <button class="btn btn-danger btn-block btn-round">
                    Delete
                  </button>
                  <br>
                </form>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>