<div class="card border-primary">
  <div class="card-header" style="text-align: left;">
    Orden 1
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col" style="text-align: left;">
          Platillo # 2
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container" style="text-align: left;">  
  <br>
  <div class="progress-primary">
    <span class="progress-badge">Estado <span class="progress-value">60%</span></span>
    <ngb-progressbar [value]="60"></ngb-progressbar><br>
  </div>

  Tiempo restante para modificar :  {{subscribeTimer}}s
  <div class="row justify-content-center">
    <div class="col-10">
      <button type="button" class="btn btn-primary btn-block" onclick="cancelarOrden()">Cancelar Orden</button>    
    </div>
  </div>
</div>
