<div class="card border-primary">
  <div class="card-header" style="text-align: left;">
    Orden 1
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col" style="text-align: left;">
          Platillo # 2
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container" style="text-align: left;">
  <br>
  <div class="progress-primary" [hidden]="!jl_disable">
    <span class="progress-badge">Estado <span class="progress-value">{{subscribeBar}}%</span></span>
    <ngb-progressbar [value]="subscribeBar"></ngb-progressbar><br>
  </div>

  <div class="row" style="text-align: left;" [hidden]="jl_disable">
    Tiempo restante para cancelar : {{subscribeTimer}}s
  </div>
  <div class="row justify-content-center">
    <div class="col-10">
      <button type="button" class="btn btn-primary btn-block" onclick="cancelarOrden()" [hidden]="jl_disable">Cancelar
        Orden</button>
    </div>
  </div>
</div>