<div class="card border-primary">
  <div class="card-header" style="text-align: left;">
    Orden 1
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col" style="text-align: left;">
          Platillo # 2
        </div>
        <div class="col-4" style="right: 0px;position: absolute;">
          <i class="far fa-edit"></i>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container" style="text-align: left;">
  Tiempo restante para modificar : 1.21s
  <br>
  <div class="progress-primary">
    <span class="progress-badge">Estado <span class="progress-value">60%</span></span>
    <ngb-progressbar [value]="60"></ngb-progressbar><br>
  </div>
</div>
