<!-- <app-navbar-passenger></app-navbar-passenger> -->
<header class="navbar navbar-expand navbar-primary flex-column flex-md-row bd-navbar">
  <div class="navbar-nav-scroll">
    <!-- <i class="now-ui-icons arrows-1_share-66"></i>  -->
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link" style="color: blue;" href="/"> Menú</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="color: blue;" href="/">Orden</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: blue;" href="/">Estadisticas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: blue;" href="/">Amigos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: blue;" href="/">Cuenta</a>
      </li>
    </ul>
    <!-- <nav color-on-scroll="500">
        <div class="container">
          <div class="collapse navbar-collapse" data-color="orange">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <button class="btn btn-neutral btn-round btn-sm" type="button" routerLink="/passenger/welcome">
                  <i class="now-ui-icons arrows-1_share-66"></i> Menú
                </button>
              </li>
  
              <li class="nav-item">
                <button class="btn btn-neutral btn-round btn-sm" type="button" routerLink="/passenger/welcome">
                  <i class="now-ui-icons arrows-1_share-66"></i> Orden
                </button>
              </li>
  
              <li class="nav-item">
                <button class="btn btn-neutral btn-round btn-sm" type="button" routerLink="/passenger/welcome">
                  <i class="now-ui-icons arrows-1_share-66"></i> Estadisticas
                </button>
              </li>
  
              <li class="nav-item">
                <button class="btn btn-neutral btn-round btn-sm" type="button" routerLink="/passenger/welcome">
                  <i class="now-ui-icons arrows-1_share-66"></i> Amigos
                </button>
              </li>
              <li class="nav-item">
                <button class="btn btn-neutral btn-round btn-sm" type="button" routerLink="/passenger/welcome">
                  <i class="now-ui-icons arrows-1_share-66"></i> Cuenta
                </button>
              </li>
            </ul>
          </div>
        </div>
      </nav> -->
  </div>
</header>
