<nav class="navbar navbar-expand-lg bg-primary fixed-top " color-on-scroll="500">
  <div class="container">

    <div class="navbar-translate">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"
        (click)="sidebarToggle()">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" data-color="orange">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
            <button class="btn btn-neutral btn-round btn-sm" type="button" routerLink="/passenger/welcome">
                <i class="now-ui-icons arrows-1_share-66"></i> Menú
            </button>
        </li>

        <li class="nav-item">
            <button class="btn btn-neutral btn-round btn-sm" type="button" routerLink="/passenger/welcome">
                <i class="now-ui-icons arrows-1_share-66"></i> Orden
            </button>
        </li>

        <li class="nav-item">
            <button class="btn btn-neutral btn-round btn-sm" type="button" routerLink="/passenger/welcome">
                <i class="now-ui-icons arrows-1_share-66"></i> Estadisticas
            </button>
        </li>

        <li class="nav-item">
            <button class="btn btn-neutral btn-round btn-sm" type="button" routerLink="/passenger/welcome">
                <i class="now-ui-icons arrows-1_share-66"></i> Amigos
            </button>
        </li>
        <li class="nav-item">
            <button class="btn btn-neutral btn-round btn-sm" type="button" routerLink="/passenger/welcome">
                <i class="now-ui-icons arrows-1_share-66"></i> Cuenta
            </button>
        </li>
      </ul>
    </div>
  </div>
</nav>