<footer class="navbar navbar-expand navbar-primary flex-column flex-md-row bd-navbar stickyFooter">
    <div class="navbar-nav-scroll">
     <ul class="navbar-nav bd-navbar-nav flex-row">
       <li class="nav-item">
          <i (click)="gotoProductDetailsV2()"  class="fas fa-3x fa-plus-circle"></i>
       </li>       
     </ul>
   </div>
 </footer>
 

<div class="content-center brand">
  <div id="accordion">
    <div class="card" style="margin-bottom: 0 !important;" *ngFor="let menu of menu_list">
      <div class="card-header card_color">
        <div class="row ">
            <div class="col" style="text-align: left;">
                {{menu}}
              </div>
          <!-- <div class="col align-self-left">
            <button class="btn btn-link btn-block" data-toggle="collapse"
              attr.data-target="#collapse{{menu.short_name}}" aria-expanded="false"
              attr.aria-label="collapse{{menu.short_name}}" style="text-align: left; font-size: 14px; color: black;">
              {{menu}}
            </button>
          </div> -->

          <div class="col-2 align-self-end" (click)="remove(menu)">
            <i class="fa fa-trash"></i>
          </div>
          <div class="col-2 align-self-end" (click)="edit(menu)">
            <i class="fa fa-edit"></i>
          </div>
        </div>
        
      </div>
<!-- 
      <div attr.id="collapse{{menu.short_name}}" class="collapse" attr.aria-labelledby="heading{{menu.short_name}}"
        data-parent="#accordion" style="text-align: left;">
        <div class="card-body">
          <p>Precio : {{menu.precio}} </p>
          <p>Tiempo Preparación : {{menu.tiempo}}</p>
          <p>Calorias : {{menu.calorias}}</p>
          <p>Ingredientes : {{menu.ingredientes}}</p>
        </div>
      </div> -->
    </div>
    <div class="row justify-content-center">
        <button class="btn btn-primary btn-round">Publicar</button>
      </div>
  </div>
  <br><br>
</div>