<div class="container">

  <div class="row">
    Cantidad de puntos disponibles : 15
  </div>

  <div class="row">
    Ordenes realizadas por mes <br>

    <div class="chart-wrapper">
      <canvas baseChart [datasets]="barChartData_Ord_Mes" [labels]="barChartLabels_Ord_Mes"
        [options]="barChartOptions_Ord_Mes" [colors]="barChartColors" [plugins]="barChartPlugins_Ord_Mes"
        [legend]="barChartLegend_Ord_Mes" [chartType]="barChartType_Ord_Mes">
      </canvas>
    </div>
  </div>

  <div class="row">
    Ordenes por tipo de plato <br>
    <div class="chart-wrapper">
      <canvas baseChart [data]="pieChartData_Ord_TPlato" [labels]="pieChartLabels_Ord_TPlato" [colors]="pieColors"
        [chartType]="pieChartType_Ord_TPlato" [options]="pieChartOptions_Ord_TPlato"
        [plugins]="pieChartPlugins_Ord_TPlato" [legend]="pieChartLegend_Ord_TPlato">
      </canvas>
    </div>
  </div>

  <div class="row">
    <div class="card border-primary">
      <div class="card-header" style="text-align: left;">
        Tabla de conversión (Puntos -> Colones)
      </div>
      <div class="card-body" style="align-content: center; min-height:1px">
        10 Puntos : ₡ 1 000
      </div>
    </div>
  </div>

  <div class="row">
    Uso de puntos por mes <br>
    <div class="chart-wrapper">
      <canvas baseChart [datasets]="barChartData_Pts_Mes" [labels]="barChartLabels_Pts_Mes"
        [options]="barChartOptions_Pts_Mes" [colors]="barChartColors" [plugins]="barChartPlugins_Pts_Mes"
        [legend]="barChartLegend_Pts_Mes" [chartType]="barChartType_Pts_Mes">
      </canvas>
    </div>
  </div>

  <div class="row">
    Transacciones <br>

    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-bordered table-striped mb-0">
          <thead>
            <tr>
              <th scope="col"># Transacciones</th>
              <th scope="col">Datos</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let t of trans; let i = index">
              <th scope="row">{{i}}</th>
              <td>{{t}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
  <br>
</div>
<br><br>