<div class="col-md-12 ml-auto col-xl-12 mr-auto" style="background-color: transparent;">
  <p class="category">Official</p>
  <!-- Nav tabs -->

  <div class="card" style="background-color: transparent;" data-tabs-color="orange">
    <div class="nav-tabs-navigation">
      <div class="nav-tabs-wrapper">
        <ngb-tabset [justify]="'center'" class="text-center">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div (click)="forms_Reset()">
                <i class="now-ui-icons ui-1_simple-add"></i> Create
              </div>

            </ng-template>
            <ng-template ngbTabContent>
              <div class="container" style="text-align:left">
                <form class="form" [formGroup]="createForm" (ngSubmit)="onSubmit_Create()">
                  <br>
                  <div class="row">
                    <div class="col-sm">
                      <label>Identification Card</label>
                      <input type="text" class="form-control" formControlName="id_user"
                        [ngClass]="{ 'is-invalid': submitted_c && c.id_user.errors }">
                      <div *ngIf="submitted_c && c.id_user.errors" class="invalid-feedback">
                        <div *ngIf="c.id_user.errors.required">Identification Card is required</div>
                      </div>

                    </div>
                    <div class="col-sm">
                      <label>Full Name</label>
                      <input type="text" class="form-control" formControlName="name"
                        [ngClass]="{ 'is-invalid': submitted_c && c.name.errors }">
                      <div *ngIf="submitted_c && c.name.errors" class="invalid-feedback">
                        <div *ngIf="c.name.errors.required">Full Name is required</div>
                      </div>
                    </div>
                    <div class="col-sm">
                      <label>Type of official</label>
                      <select class="form-control form-control-sm" formControlName="type"
                        [ngClass]="{ 'is-invalid': submitted_c && c.type.errors }">
                        <option></option>
                        <option *ngFor="let item of type_official">{{item}}</option>
                      </select>
                      <div *ngIf="submitted_c && c.type.errors" class="invalid-feedback">
                        <div *ngIf="c.type.errors.required">Type of official is required</div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-sm">
                      <label>Date of Admission</label>
                      <input type="date" max="9999-12-12" class="form-control" formControlName="date_admission"
                        [ngClass]="{ 'is-invalid': submitted_c && c.date_admission.errors }">
                      <div *ngIf="submitted_c && c.date_admission.errors" class="invalid-feedback">
                        <div *ngIf="c.date_admission.errors.required">Date of Admission is required</div>
                      </div>
                    </div>
                    <div class="col-sm">
                      <label>Work area</label>
                      <select class="form-control form-control-sm" formControlName="work_area"
                        [ngClass]="{ 'is-invalid': submitted_c && c.work_area.errors }">
                        <option></option>
                        <option *ngFor="let item of work_area">{{item}}</option>
                      </select>
                      <div *ngIf="submitted_c && c.work_area.errors" class="invalid-feedback">
                        <div *ngIf="c.work_area.errors.required">Work area is required</div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <button class="btn btn-success btn-block btn-round">
                    <i class="now-ui-icons "></i> Create
                  </button>
                  <br>
                </form>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div (click)="forms_Reset()">
                <i class="now-ui-icons ui-1_zoom-bold"></i> Read
              </div>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="container">
                <form class="form" [formGroup]="readForm" (ngSubmit)="onSubmit_Read()">
                  <br>
                  <div class="row">
                    <div class="col-sm">
                      <label>Identification Card</label>
                      <select class="form-control form-control-sm" formControlName="id_user"
                        [ngClass]="{ 'is-invalid': submitted_r && r.id_user.errors }">
                        <option></option>
                        <option *ngFor="let item of official_read">{{item}}</option>
                      </select>
                      <div *ngIf="submitted_r && r.id_user.errors" class="invalid-feedback">
                        <div *ngIf="r.id_user.errors.required">Identification Card is required</div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row" *ngIf="json_response==true">
                    <!-- Table -->
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Full Name</th>
                            <th scope="col">Type of official</th>
                            <th scope="col">Date of Admission</th>
                            <th scope="col">Work area</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{official_read_.name}}</td>
                            <td>{{official_read_.type}}</td>
                            <td>{{official_read_.date_admission}}</td>
                            <td>{{official_read_.work_area}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <br>
                  <button class="btn btn-info btn-block btn-round">
                    <i class="now-ui-icons "></i> Search
                  </button>
                  <br>
                </form>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div (click)="forms_Reset()">
                <i class="now-ui-icons ui-2_settings-90"></i> Update
              </div>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="container" style="text-align:left">
                <form class="form" [formGroup]="updateForm" (ngSubmit)="onSubmit_Update()">
                  <br>
                  <div class="row">
                    <div class="col-sm">
                      <label>Identification Card</label>
                      <select class="form-control form-control-sm" formControlName="id_user"
                        [ngClass]="{ 'is-invalid': submitted_u && u.id_user.errors }" #id_user_
                        (change)="onchangeUpdate(id_user_.value)">
                        <option></option>
                        <option *ngFor="let item of official_read">{{item}}</option>
                      </select>
                      <div *ngIf="submitted_u && u.id_user.errors" class="invalid-feedback">
                        <div *ngIf="u.id_user.errors.required">Identification Card is required</div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-sm">
                      <label>Full Name</label>
                      <input type="text" class="form-control" formControlName="name"
                        [ngClass]="{ 'is-invalid': submitted_u && u.name.errors }">
                      <div *ngIf="submitted_u && u.name.errors" class="invalid-feedback">
                        <div *ngIf="u.name.errors.required">Full Name is required</div>
                      </div>
                    </div>
                    <div class="col-sm">
                      <label>Type of official</label>
                      <select class="form-control form-control-sm" formControlName="type"
                        [ngClass]="{ 'is-invalid': submitted_u && u.type.errors }">
                        <option></option>
                        <option *ngFor="let item of type_official">{{item}}</option>
                      </select>
                      <div *ngIf="submitted_u && u.type.errors" class="invalid-feedback">
                        <div *ngIf="u.type.errors.required">Type of official is required</div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-sm">
                      <label>Date of Admission</label>
                      <input type="date" max="9999-12-12" class="form-control" formControlName="date_admission"
                        [ngClass]="{ 'is-invalid': submitted_u && u.date_admission.errors }">
                      <div *ngIf="submitted_u && u.date_admission.errors" class="invalid-feedback">
                        <div *ngIf="u.date_admission.errors.required">Date of Admission is required</div>
                      </div>
                    </div>
                    <div class="col-sm">
                      <label>Work area</label>
                      <select class="form-control form-control-sm" formControlName="work_area"
                        [ngClass]="{ 'is-invalid': submitted_u && u.work_area.errors }">
                        <option></option>
                        <option *ngFor="let item of work_area">{{item}}</option>
                      </select>
                      <div *ngIf="submitted_u && u.work_area.errors" class="invalid-feedback">
                        <div *ngIf="u.work_area.errors.required">Work area is required</div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <button class="btn btn-success btn-block btn-round">
                    <i class="now-ui-icons "></i> Update
                  </button>
                  <br>
                </form>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <div (click)="forms_Reset()">
                <i class="now-ui-icons ui-1_simple-delete"></i> Delete
              </div>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="container">
                <form class="form" [formGroup]="deleteForm" (ngSubmit)="onSubmit_Delete()">
                  <br>
                  <div class="row">
                    <div class="col-sm">
                      <label>Identification Card</label>
                      <select class="form-control form-control-sm" formControlName="id_user"
                        [ngClass]="{ 'is-invalid': submitted_d && d.id_user.errors }">
                        <option></option>
                        <option *ngFor="let item of official_read">{{item}}</option>
                      </select>
                      <div *ngIf="submitted_d && d.id_user.errors" class="invalid-feedback">
                        <div *ngIf="d.id_user.errors.required">Identification Card is required</div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <button class="btn btn-danger btn-block btn-round">
                    <i class="now-ui-icons "></i> Delete
                  </button>
                  <br>
                </form>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>