<footer class="navbar navbar-expand navbar-primary flex-column flex-md-row bd-navbar stickyFooter">
    <div class="navbar-nav-scroll">
     <ul class="navbar-nav bd-navbar-nav flex-row">
       <li class="nav-item">
          <i (click)="gotoProductDetailsV2()"  class="fas fa-3x fa-plus-circle"></i>
       </li>       
     </ul>
   </div>
 </footer>
 

 <!-- <div class="row justify-content-end signOut">
    <i routerLink="/inicio_sesion" (click)="localStorage.clear()"  class="fas fa-3x fa-sign-out-alt"></i>
  </div> -->