<div class="page-header" filter-color="white">
    <div class="page-header-image" style="background-image:url(assets/img/headerPlane.jpg)"></div>
    <div class="container">
        <div class="col-2 content-center">
            <div class="card card-login card-plain">
                <form class="form" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                    <div class="header header-primary text-center">
                        <br><br>
                        <img src="assets/img/user.png" width="150" height="140" alt="logoTECPlane">
                        <h3>Passenger</h3>
                    </div>
                    <div class="content" style="text-align:left">

                        <div class="row">
                            <div class="col-sm">
                                <label>Id</label>
                                <div class="input-group form-group-no-border input-lg"
                                    [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="now-ui-icons users_circle-08"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" (focus)="focus=true" (blur)="focus=false"
                                        formControlName="id_user"
                                        [ngClass]="{ 'is-invalid': submitted && f.id_user.errors }">
                                    <div *ngIf="submitted && f.id_user.errors" class="invalid-feedback">
                                        <div *ngIf="f.id_user.errors.required">Id is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <label>Full Name</label>
                                <!-- Full Name -->
                                <div class="input-group form-group-no-border input-lg"
                                    [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i
                                                class="now-ui-icons users_circle-08"></i></span>
                                    </div>
                                    <input type="text" class="form-control" (focus)="focus=true" (blur)="focus=false"
                                        formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                        <div *ngIf="f.name.errors.required">Full Name is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm">
                                <label>Date of birth</label>
                                <!-- Date of birth -->
                                <div class="input-group form-group-no-border input-lg"
                                    [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i
                                                class="now-ui-icons users_circle-08"></i></span>
                                    </div>
                                    <input type="date" class="form-control" (focus)="focus=true" (blur)="focus=false"
                                        formControlName="date_birth"
                                        [ngClass]="{ 'is-invalid': submitted && f.date_birth.errors }">
                                    <div *ngIf="submitted && f.date_birth.errors" class="invalid-feedback">
                                        <div *ngIf="f.date_birth.errors.required">Date of birth is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <label>Nationality</label>
                                <!-- Nationality -->
                                <div class="input-group form-group-no-border input-lg"
                                    [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="now-ui-icons users_circle-08"></i>
                                        </span>
                                    </div>
                                    <select class="form-control form-control-lg" formControlName="nationality"
                                        [ngClass]="{ 'is-invalid': submitted && f.nationality.errors }"
                                        #nationality
                                        (change)="get_residence(nationality.value)">
                                        <option></option>
                                        <option *ngFor="let item of nationalities">{{item}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.nationality.errors" class="invalid-feedback">
                                        <div *ngIf="f.nationality.errors.required">Nationality is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <label>Residence</label>
                                <!-- Residence -->
                                <div class="input-group form-group-no-border input-lg"
                                    [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i
                                                class="now-ui-icons users_circle-08"></i></span>
                                    </div>                                    
                                    <select class="form-control form-control-lg" formControlName="residence"
                                        [ngClass]="{ 'is-invalid': submitted && f.residence.errors }">
                                        <option></option>
                                        <option *ngFor="let item of residences">{{item}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.residence.errors" class="invalid-feedback">
                                        <div *ngIf="f.residence.errors.required">Residence is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm">
                                <div class="row align-items-end">
                                    <div class="col-sm">
                                        <label>Phone</label>
                                        <!-- Phone -->
                                        <div class="input-group form-group-no-border input-lg"
                                            [ngClass]="{'input-group-focus':focus===true}">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="now-ui-icons users_circle-08"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" (focus)="focus=true"
                                                (blur)="focus=false" formControlName="phone"
                                                [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                                            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                                <div *ngIf="f.phone.errors.required">Phone is required</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  <div class="col-">
                                        <button class="btn btn-primary btn-icon btn-round " type="button"
                                            (click)="addPhone()">
                                            <i class="now-ui-icons ui-1_simple-add"></i>
                                        </button>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-sm">
                                <label>Email</label>
                                <!-- Email -->
                                <div class="input-group form-group-no-border input-lg"
                                    [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i
                                                class="now-ui-icons users_circle-08"></i></span>
                                    </div>
                                    <input type="email" class="form-control" (focus)="focus=true" (blur)="focus=false"
                                        formControlName="email"
                                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <label>Password</label>
                                <!-- Password -->
                                <div class="input-group form-group-no-border input-lg"
                                    [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i
                                                class="now-ui-icons ui-1_lock-circle-open text_caps-small"></i></span>
                                    </div>
                                    <input type="password" class="form-control" (focus)="focus1=true"
                                        (blur)="focus1=false" formControlName="password"
                                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer text-center">
                        <button class="btn btn-primary btn-round btn-lg btn-block">Create Account</button>
                    </div>
                    <div class="pull-left">
                        <h6>
                            <a routerLink="/main" class="link">Back</a>
                        </h6>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>