<div class="container">
  <div class="content-center">
    <div class="card card-login card-plain">
      <form class="form" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="header header-primary text-center">
          <br>
          <div class="row align-items-center  justify-content-start">
            <div class="col-4 align-self-center">
              <img src="assets/default-logo.png" width="100" height="93.333" alt="logoTECPlane">
            </div>
            <div class="col align-self-end" style="text-align: left;">
              <h3>
                <span class="align-middle">Registro</span>
              </h3>
            </div>
            <div class="col-4 align-self-center">
              <p></p>
              <p></p>
            </div>
          </div>
        </div>
        <div class="content" style="text-align:left">
          <div class="row">
            <div class="col-sm">
              <label>Correo</label>
              <div class="form-group" [ngClass]="{'input-group-focus':focus===true}">
                <input type="email" class="form-control" (focus)="focus=true" (blur)="focus=false"
                  formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div *ngIf="submitted && f.email.errors" class="e_input">
                  <div *ngIf="f.email.errors.required">El correo es requerido</div>
                  <div *ngIf="f.email.errors.email">Formato de correo invalido</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm">
              <label>Provincia</label>
              <div class="form-group" [ngClass]="{'input-group-focus':focus===true}">
                <select class="form-control form-control-lg" formControlName="nationality"
                  [ngClass]="{ 'is-invalid': submitted && f.nationality.errors }" #nationality
                  (change)="get_residence(nationality.value)">
                  <option *ngFor="let item of nationalities">{{item}}</option>
                </select>
                <div *ngIf="submitted && f.nationality.errors" class="e_input">
                  <div *ngIf="f.nationality.errors.required">La Provincia es requerida</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm">
              <label>Teléfono</label>
              <div class="form-group" [ngClass]="{'input-group-focus':focus===true}">
                <input type="tel" class="form-control" (focus)="focus=true" (blur)="focus=false"
                  formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                <div *ngIf="submitted && f.phone.errors" class="e_input">
                  <div *ngIf="f.phone.errors.required">El teléfono es requerido</div>
                  <div *ngIf="f.phone.errors.pattern">El formato de teléfono debe ser ####-####</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm">
              <label>Gustos</label>
              <div class="form-group">
                <div class="form-check-inline" *ngFor="let g of gustos">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="optradio">{{g}}
                  </label>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="footer text-center">
          <label> Para completar el registro se necesita asociar una cuenta de Facebook</label>
          <button class="btn btn-primary btn-round btn-block"> <i class="fab fa-facebook-square fa-lg"></i>
            Registrarse</button>
        </div>
      </form>
    </div>
  </div>
</div>