<footer class="navbar navbar-expand navbar-primary flex-column flex-md-row bd-navbar stickyFooter">
    <div class="navbar-nav-scroll">
     <ul class="navbar-nav bd-navbar-nav flex-row">
       <li class="nav-item">
         <a class="nav-link" style="color: blue;" (click)="show_messange()">Estadisticas</a>
        <!--  <a class="nav-link" style="color: blue;" routerLink="estadisticas">Estadisticas</a> -->
       </li>
       <li class="nav-item">
         <a class="nav-link" style="color: blue;" routerLink="asignar_rol">Asignar Rol</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" style="color: blue;" routerLink="config_sistema">Configurar Sistema</a>
       </li>
     </ul>
   </div>
 </footer>
 