

<app-navbar-passenger></app-navbar-passenger>
<div class="container-fluid">
<div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
                <router-outlet></router-outlet>
        </div>
  <!-- <div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
    <div class="page-header clear-filter">

      <div class="container">
        <div class="content-center brand">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div> -->
</div>
