
<div class="row justify-content-end signOut">
  <i routerLink="/inicio_sesion" class="fas fa-3x fa-sign-out-alt"></i>
</div>


<div class="container">
  <div class="content-center">
    <div class="card card-login card-plain">
      <form class="form" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="header header-primary text-center">
          
          <h2>{{info_user.name}}</h2>
          <h4>{{info_user.idUser}}</h4>
        </div>
        <br>
        <div class="content" style="text-align:left">

          <div class="row">
            <div class="col-sm">
              <label>Correo</label>
              <div class="form-group" [ngClass]="{'input-group-focus':focus===true}">
                <input type="email" class="form-control" (focus)="focus=true" (blur)="focus=false"
                  formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div *ngIf="submitted && f.email.errors" class="e_input">
                  <div *ngIf="f.email.errors.required">El correo es requerido</div>
                  <div *ngIf="f.email.errors.email">Formato de correo invalido</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm">
              <label>Provincia</label>
              <div class="form-group" [ngClass]="{'input-group-focus':focus===true}">
                <select class="form-control form-control-lg" formControlName="provinceName"
                  [ngClass]="{ 'is-invalid': submitted && f.provinceName.errors }">
                  <option *ngFor="let item of provinces">{{item}}</option>
                </select>
                <div *ngIf="submitted && f.provinceName.errors" class="e_input">
                  <div *ngIf="f.provinceName.errors.required">La Provincia es requerida</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm">
              <label>Teléfono</label>
              <div class="form-group" [ngClass]="{'input-group-focus':focus===true}">
                <input type="number" min="1" class="form-control" (focus)="focus=true" (blur)="focus=false"
                  formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                <div *ngIf="submitted && f.phone.errors" class="e_input">
                  <div *ngIf="f.phone.errors.required">El teléfono es requerido</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm">
              <label>Gustos</label>
              <div class="form-group">
                <div class="form-check-inline" *ngFor="let g of gustos">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="optradio">{{g}}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-primary btn-round btn-block"> <i class="far fa-edit"></i> Actualizar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<br>
