.stickyHeader {
    margin-bottom: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    overflow: visible;
    z-index: 99;
    padding-top: 10px;
    padding-right: 10px;
    background-color: white;  
    align-items: flex-end;
    justify-content: right;  
}

.signOut {
    margin-bottom: 0px;
    overflow: visible;
    z-index: 99;
    padding-top: 0px;
    padding-right: 10px;
    align-items: flex-end;
    justify-content: right;  
}