  /* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    /* top: 0; */
    bottom: 0;
    width: 100%,
  }

  /* Style the header */
header {
    z-index:100;
    background-color: white;
}

  

.stickyFooter {
    margin-bottom: 0px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    overflow: visible;
    z-index: 99;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: white;  
    align-items: center;
   justify-content: center;  
}

