<footer class="navbar navbar-expand navbar-primary flex-column flex-md-row bd-navbar stickyFooter">
   <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link" style="color: blue;" routerLink="menu">Menú</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: blue;" routerLink="orden">Orden</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: blue;" routerLink="estadisticas">Estadisticas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: blue;" routerLink="amigos">Amigos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: blue;" routerLink="cuenta">Cuenta</a>
      </li>
    </ul>
  </div>
</footer>
