<div class="card border-primary"  *ngFor="let orden of orden_list; let i = index " >
  <div class="card-header" style="text-align: left;">
    Orden {{i}}
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col" style="text-align: left;">
          Plato : {{orden.dish}} <br>
          Ingredientes : {{orden.ingredients}} <br>
          Tiempo para iniciar orden : {{orden.time}} <br>
        </div>
      </div>
    </div>
  </div>
</div>