

.footer_{
    background-color: white;
    bottom: 0;
    width: 100%;
    height: 10px;
    color: black;
    
}

.footer_1 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: blue;
    text-align: center;
  }
